@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
}
body{
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
	cursor: pointer;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
em,i{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight:normal;
}
/*header*/
.header{
	position:relative;
	z-index: 3;
	height:60px;
	width:100%;
	min-width: 1180px;
	background:#01756c url(../imgs/top_bg.png) repeat-x;
	border-top: #fff 1px solid;
}
.header-inner {
    margin: 0 auto;
    width: 1180px;
    height: 60px;
}
.logo{
	float:left;
	height:60px;
	width:190px;
	margin-right:30px;
}
li a.current{
	background:#026457; 
}
.mainbav li{
	float:left;
	height:59px;
	width:58px;
	margin-right:1px;
	position:relative; 
	z-index: 2;
}
.mainbav a:hover{
	background:#026457; 
}
.mainbav .jadevip{
	width: 90px;
}
.mainbav li.jadevip a{
	width: 88px;
}
.mainbav li .dropmenu li {
    float: left;
    width: 120px;
    height: auto;
}
.mainbav li .dropmenu li a {
    float: left;
    width: 105px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: none;
    color: #333;
    font-family: 'simsun';
    font-weight: normal;
    padding: 0 0 0 15px;
    margin: 0;
    text-align: left;
}
.mainbav li a{
	display: block;
	width:56px;
	height:59px;
	text-align: center;
	font-size: 16px;
	color:#fff;
	line-height: 59px;
	letter-spacing: 2px;
	padding-left: 2px;
}
.mainbav li {
    float: left;
    height: 59px;
    width: 58px;
    margin-right: 1px;
    position: relative;
    z-index: 2;
}
.mainbav li .dropmenu {
    width: 120px;
    height:105px;
    background: #fff;
    border: 1px solid #C0C0C0;
    -webkit-box-shadow: 0 2px 4px #C0C0C0;
    box-shadow: 0 2px 4px #C0C0C0;
    display: none;
    position: absolute;
    z-index: 999;
    top: 59px;
    left: 0px;
}
.dropmenu li:hover{
	background:#c0c0c0;
}
.search{
	float:left;
	height:30px;
	width:270px;
	margin:14px 0 0 30px;
	border:#15736a 1px solid;
	background-color: #fff;
}
.inSearch{
	position:relative;
	z-index: 2;
	font-size: 12px;
	padding:0px;
	zoom:1;
	background:#fff;
}
.inSearch #sForm {
    width: 270px;
    height: 30px;
    zoom: 1;
}
.inSearch .classify {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 69px;
    height:137px;
    border: 1px solid #008E7D;
    border-top: none;
    padding-bottom: 11px;
    visibility: hidden;
    background: #FFFFFF;
    overflow: hidden;
    cursor: pointer;
}
.inSearch li {
    padding: 0 10px;
    color: #666666;
    cursor: pointer;
    font: 12px/30px 'Microsoft YaHei';
}
.inSearch .search_btn {
    float: right;
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-family: "宋体";
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    background: #f78d1d;
}
.inSearch .search_btn:hover{
	background: #f47c20;
}
.inSearch .sRadius{
	float:left;
	width:199px;
	line-height: 22px;
	font-size: 12px;
	z-index: 2;
}
.inSearch .class{
	position:relative;
	float:right;
	display:inline;
	width:70px;
	height:30px;
	line-height: 20px;
	z-index:2;
}
.inSearch .classVal {
    height: 20px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin: 6px 0px 4px;
    overflow: hidden;
    zoom: 1;
    font: 12px/20px "Microsoft YaHei";
    vertical-align: middle;
    color: #000;
}
.inSearch .sGray{
	color:#999;
}
.inSearch .sInput{
	float:left;
	width:120px;
	height:22px;
	padding:4px;
	border:0;
	line-height: 22px;
	vertical-align: middle;
	outline: none;
	resize: none;
}
.inSearch .classVal em {
    display: inline-block;
    margin-top: -1px;
}
.inSearch .dropdown{
	float:right;
	width:7px;
	height:4px;
	margin:8px 10px 0px 0px;
	background:url(../imgs/search.png) 0px 0px no-repeat;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition: all 0.2s ease-out;
	transform-origin:50% 50%;
	cursor:pointer;
}
.inSearch .classify  .hover{
 background:#008E7D;
 color: #FEFEFE;
}
.inSearch .hover .dropdown{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.member{
	float:right;
}
.member ul li.notice {
    width: 55px;
}
.member ul li{
	float: left;
	position:relative;
	z-index: 2;
}
.i-notice {
    display: block;
    width: 55px;
    height: 20px;
    line-height: 20px;
    padding: 19px 0 20px 0;
    text-align: center;
}
.member .yy-icon {
    width: auto;
    height: 22px;
    padding-left: 24px;
}
.yy-notice {
    width: 20px;
    height: 20px;
    background-position: -60px 0;
}
.yy-icon {
    display: inline-block;
    overflow: hidden;
    background: url(../imgs/yy-icon.png) no-repeat;
}
.i-num {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    background: #f00;
    border-radius: 2px;
    color: #fff;
}
.unread {
    background: #E5E5E5;
    color: #333;
}
.member li.notice .dropmenu {
    width: 280px;
    padding: 0 10px;
    right: -60px;
}
.member li .dropmenu {
    background: #fff;
    border: 1px solid #C0C0C0;
    -webkit-box-shadow: 0 2px 4px #C0C0C0;
    box-shadow: 0 2px 4px #C0C0C0;
}
.member li .dropmenu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 59px;
    right: 0px;
}
.i-popup-top {
    height: 36px;
    line-height: 36px;
    color: #000;
    font-size: 16px;
}
.fl {
    float: left;
    display: inline;
}
.i-popup-top a {
    display: inline;
    line-height: 36px;
    background: #fff;
    color: #008E7D;
    font-size: 16px;
}
.fr {
    float: right;
    display: inline;
}
.member ul li.notice {
    width: 55px;
}
.yy-msg {
    width: 20px;
    height: 20px;
    background-position: -60px -20px;
}
.i-popup-top {
    height: 36px;
    line-height: 36px;
    color: #000;
    font-size: 16px;
}
.i-popup-top a {
    display: inline;
    line-height: 36px;
    background: #fff;
    color: #008E7D;
    font-size: 16px;
}
.member li.login a {
    display: block;
    width: 60px;
    height: 26px;
    line-height: 26px;
    padding: 16px 0 17px 0;
    text-align: center;
}
.login .arrow {
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 5px;
}
.login #aaaa{
    width:30px;
    color:#fff;
    height:30px;
}
.login .arrowB {
    border-top-color: #fff;
    border-top-style: solid;
}
.member li.login .dropmenu {
    width: 120px;
}
.member li.login .dropmenu li a {
    float: left;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: none;
    color: #333;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
#qqq{
    display:none;
    height:59px;
}
#nologin{
    height:59px;
}
.i-popup-top a:hover { 
    text-decoration:underline;
}
.member li.current a.i-notice,.member li.current a.i-member,.member li a.current {
    background:#026457;
}
.member li.nologin a{
	display:inline-block;
	width:50px;
	height:26px;
	line-height: 26px;
	padding:16px 0 17px 0;
	color:#fff;
	font-size: 14px;
	text-align: center;
}
.member li.nologin a:hover{
	background:#026457; 
}
.nav_shadow {
    position: absolute;
    height: 4px;
    top: 60px;
    left: 0px;
    z-index: 1;
    width: 100%;
    min-width: 1180px;
    background: url(../imgs/nav_shadow.png) repeat-x;
    display: inline;
}
/*content*/
.main{
    width: 100%;
    min-width: 1180px;
    height: auto;
    background:#dadada;
}
.wrapper{
	width: 1180px;
	margin:0 auto;
    height: auto;
    overflow: hidden;
}
.mb{
	padding-bottom: 20px;
	height:462px;
}
.mt{
	margin-top: 20px;
}
.fix:after{
	clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/*banner*/
.index_focus{
	width:780px;
	height:460px;
	border:1px #fff solid;
	float: left;
    display: inline;
    position:relative;
}
.slides li img{
	width:100%;
	height:100%;
}
#focus_slider .flex-control-nav {
    bottom: 5px;
    right: 5px;
    text-align: right;
    z-index: 99;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    background:#fff;
}
.flex-control-paging li a.flex-active {
    background: pink;
    cursor: default;
}
.flex-control-paging li a {
    width: 25px;
    height: 10px;
    background: red;
    display: block;
    text-indent: 9999px;
}
.flex-direction-nav .flex-prev {
    left: 0px;
    background-position: 0 0;
}
.flex-direction-nav .flex-next {
    right: 0px;
    background-position: right top;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 45px;
    height: 100px;
    margin: -50px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    background: url(../imgs/sprite.png) no-repeat;
    text-indent: -999em;
}
.index_focus:hover .flex-direction-nav a{
	opacity: .3;
}
.index_focus .flex-direction-nav .flex-next:hover{
	opacity: .6;
}
.index_focus .flex-direction-nav .flex-prev:hover{
	opacity: .6;
}
/*news*/
.index_news{
	width:380px;
	display:inline;
	height:;
	float:right;
	background-color:#fff;
	border:1px #c8c8c8 solid;
}
.index_news_box{
	padding: 16px 15px;
    border-bottom: 1px solid #ddd;
}
.index_news_box a:hover{
	color:#55a197;
}
.index_news_box:nth-child(3){
    border-bottom:0;
}
.index_news_box h5{
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #666;
    margin-bottom: 5px;
}
.index_hot_news{
	padding-left: 5px;
}
.index_hot_news a{
	line-height: 22px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
}
.index_hot_news a span{
	display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #666;
    color: #fff;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    margin-right: 8px;
}
.index_txt_news{
	height:76px;
	overflow: hidden;
}
.index_txt_news li{
	background:url(../imgs/diandian.png) no-repeat 4px 50%;
	padding-left:15px;
	text-align: left;
	line-height: 20px;
	margin-top:5px;
}
.index_txt_news li a{
	color:#666;
	font-size:14px;
}
.index_hot_tag{
	height:66px;
	overflow: hidden;
	padding-left: 10px;
}
.index_hot_tag a{
	line-height: 22px;
    padding: 0 5px 0;
    display: inline-block;
    font-size: 14px;
    color:#666;
}
.index_hot_tag a:hover{
	background-color:#55a197;
	color:#fff;
	border-radius: 15px;
}
/*nav*/
.index_title{
	clear: both;
	color:#000;
	position: relative;
	margin:20px 0 10px 0;
	padding-bottom: 8px;
	width:1180px;
	height:24px;
    line-height: 24px;
    font-size: 22px;
    font-weight: normal;
    border-bottom: #BABABA 1px solid;
    letter-spacing: 2px;
}

.index_title h3 a{
	color:#000;
}
.index_title_menu{
	height: 20px;
    position: absolute;
    right: 0;
    top: 2px;
}
.index_title_menu li {
    height: 20px;
    display: inline;
}
.index_title_menu a{
	padding-left:5px;
    display: inline-block;
    line-height:20px;
	font-size: 16px;
	color:#000;
}
.index_title_menu a:hover{
	color: #008575;
}
/*shopping*/
.index_shop{
	width:100%;
	height:auto;
}
.hotgoods{
	width:242px;
	margin-right: 13px;
}
.index_shop .hotgoods img {
    margin-bottom: 30px;
    border:#fff 1px solid;
}
.hotgoods,.hotgoods_box{
	float:left;
	display:inline;
}
.hotgoods_box{
	width:925px;
	overflow: hidden;
}
.hotgoods_list{
	width:950px;
	padding-bottom: 2px;
	overflow: hidden;
}
.hotgoods_list li{
	width:220px;
	padding:1px;
	float: left;
	margin:0 12px 30px 0;
    display: inline;
    height: auto;
    background: #F8F8F8;
    border-bottom: #fff 2px solid;
    
}
.hotgoods_list li:hover a{
	color: #008575;
}
.hotgoods_list li:hover{
	border-bottom: #008575 2px solid;
}
.imgbox{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	background: 2px #b2b2b2 solid;
}
.imgbox img{
	width:220px;
	height:220px;
}
.hotgoods_list h3{
	height:30px;
	line-height: 30px;
	overflow: hidden;
	padding:3px 10px;
	font-size: 14px;

}
.hotgoods_list h3 a{
	color:#000;
}
.hotgoods_list p{
	padding:5px 10px 11px 10px;
	color:#008575;
	font-size:20px;
}
/*玉雕师*/
#artist_slider {
    margin: 0 0 50px;
}
.flexslider{
	position:relative;
	margin:0 0 60px;
}
.flex-viewport{
	position:relative;
	overflow: hidden;
	max-height: 2000px;	
}
.flexslider .slides {
    zoom: 1;
    height:262px;
    width:1400%;
}
#artist_slider li {
    margin-right: 12px;
    width: 584px;
    display: block;
    background:#fff;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
#artist_slider li p {
    display: block;
    margin: 0 20px 25px 25px;
    height: 48px;
    line-height: 24px;
    font-size: 14px;
    color: #6d6d6d;
    overflow: hidden;
}

#artist_slider .flex-control-paging li a {
    width: 60px;
    height: 10px;
    background: red;
    display: block;
    text-indent: 9999px;
}
#artist_slider li p strong {
    font-size: 18px;
    font-weight: normal;
    color: #333;
    letter-spacing: 2px;
}
.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#artist_slider .flex-control-nav {
    bottom: -25px;
}
.flex-control-nav{
	height:10px;
	width:300px;
	margin-left: 447px;
}
#artist_slider .flex-control-nav li {
    height:10px;
    width:50px;
    text-align: center;
    padding-right: 5px;
    float:left;
    background:#fff;
}
#artist_slider .flex-control-paging li a.flex-active {
    background: pink;
    cursor: default;
}
.flex-control li{
	clear:both;
	width:60px;
	height:10px;
	background: #fff;
	opacity: .5;
	display: inline-block;
}
.flex-control{
	overflow: hidden;
	width:100%;
	position:absolute;
	text-align: center;
	bottom:-30px;
}
.flex-control .flex-active{
	opacity:1;
}
#artist_slider:hover .flex-direction-nav a{
	opacity: .1;
}
#artist_slider .flex-direction-nav .flex-next:hover{
	opacity: .6;
}
#artist_slider .flex-direction-nav .flex-prev:hover{
	opacity: .6;
}
/*名作*/
.piclist{
	width:1202px;
	overflow: hidden;
}
.piclist li{
	margin:0 20px 40px 0;
	width:280px;
	float:left;
	height:auto;
	background:#f8f8f8;
	border-bottom:#fff 2px solid; 
}
.piclist .imgbox img{
	width:280px;
	height:280px;
}
.piclist .p_ydname{
	margin:10px 20px 5px 20px;
	height:30px;
	line-height: 30px;
	overflow: hidden;
	font-size:16px;
	color:#575757;
}
.piclist .p_ydname a{
	color:#575757;
}
.piclist .p_author {
    padding: 0 20px;
    font-size: 14px;
    line-height: 24px;
    color: #575757;
    text-align: right;
}
.piclist a{
	color:#000;
}
.piclist li .p_action{
	width: auto;
    height: 22px;
    padding: 12px 5px 8px 20px;
    text-align: right;   
}
.piclist li:hover{
	border-bottom:2px #fb5e00 solid;
}
.piclist li:hover h3 a{
	color:#fb5e00;
}
.piclist li a:hover{
	color:#fb5e00;
}
.p_action .icon{
	width: auto;
    height: 20px;
    line-height: 20px;
    text-indent: 25px;
    margin-right: 15px;
    font-family: Arial;
    color: #BFBFBF;  
}
.piclist .p_atuhor a:hover{
	color:#fb5e00;
}
.icon span{
	font-size:12px;
}
.icon-zhengyan {
    width: 18px;
    height: 20px;
    line-height: 20px;
    background-position: -281px -252px;
 }
 /*鉴定*/
 .index_ask{
 	width:1200px;
 	overflow: hidden;
 }
  .index_ask ul{
  	float:left;
  	width:578px;
  	margin-right: 20px;
  	padding:20px 0;
  	background:#f2f2f2;
  	border:#fff 1px solid;
  }
  .index_ask li{
  	padding:0 20px;
  	line-height: 27px;
  	
  }
  .index_ask a{
  	font-size: 16px;
  	color:#333;
  	display:inline-block;
  	width:450px;
  	white-space:nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }
  .index_ask a:hover{
  	color:#008575;
  }
.index_ask li span{
	float: right;
  	font-size: 12px;
  	color:#999;
  }
 /*新闻文集*/
.newslist{
	width:1220px;
}
.newslist li{
	margin:0 20px 40px 0;
	width:280px;
}
.newslist li:hover .newstitle{
	color:#fb5e00;
}
.newslist .imgbox img{
	width:280px;
	height:200px;
}
.newslist .newsbox{
	padding:20px 20px 5px 20px;
}
.newsbox .newstitle{
	width:240px;
	display:block;
	color:#000;
	font-weight:500;
	font-size:18px;
	height:26px;
	overflow: hidden;
	white-space: nowrap;
}
.newslist .newsdate {
    display: block;
    width: 240px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #919191;
    overflow: hidden;
}
.newslist .newscontent {
    display: block;
    padding-top: 10px;
    width: 240px;
    height: 120px;
    font-size: 13px;
    color: #818181;
    overflow: hidden;
    line-height: 20px;
}
.title{
	margin-top: -10px;
}
/*品牌商家*/
#brand_slider {
    margin: 0 auto 40px auto;
    width: 1176px;
}
#brand_slider .slide{
	overflow: hidden;
	position:relative;
	transition-duration: 0s;
	transform: translate3d(0px 0px 0px);
}
#brand_slider .slide li {
    height: 66px;
    text-align: center;
    border-right: 1px solid #E7E7E7;
    background: #fff;
    float:left;
    width:167px;
    display:block;
}
#brand_slider .slide li img{
    width: 150px;
    height: 50px;
    margin: 8px auto;
    opacity: 1;
}
/*友情链接*/
.site_link{
	padding:15px;
	line-height: 1.8;
	font-size: 12px;
	background:#f3f3f3;
	border:#fff 1px solid;
	margin-bottom: 30px;
}
.site_link a{
	padding-right: 5px;
	color:#666;
	white-space: nowrap;
}
.site_link a:hover{
	color:#008575;
}
.site_link p{
	text-align:left;
	padding-top:10px;
}
.site_link p a{
	padding-right:0;
}
.site_link p a img{
	float:right;
	margin-right:386px;
}
/*footer*/
.footer{
	width:100%;
	height:250px;
	min-width: 1180px;
	background:url(../imgs/footer_bg.png) repeat-x;
}
.footer a, .footer a:hover{
	color:#fff;
}
.footer_inner{
	width:1180px;
	height:120px;
	font-size:14px;
	margin:0 auto;
	line-height: 2;
	color:#f6f6f6;
}
.footer_follow{
	width:100%;
	height:120px;
	min-width: 1180px;
	margin-bottom: 20px;
}
.footer_follow ul{
    margin: 0 auto;
    width: 1180px;
}
.footer_follow li{
	float: left;
    display: inline;
    padding: 18px 35px 0 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.8;
}
.footer_follow .weixing{
	width:260px;
	height: 86px;
	background:url(../imgs/gzh.gif) no-repeat right center;
}
.footer_follow .weixing_ding{
	width:260px;
	height: 86px;
	background:url(../imgs/dyh.gif) no-repeat right center;
}
.footer_follow img{
	float:right;
	margin-right: 20px;
}
.footer_follow b{
	display:block;
	font-size: 14px;
	padding:5px 0;
}
.footer_link{
	float: right;
    display: inline;
    text-align: right;
}
.f_split {
    display: inline-block;
    margin: 0 8px;
    width: 0;
    height: 10px;
    line-height: 10px;
    overflow: hidden;
    color: #ccc;
    border-right: 2px solid #ccc;
}
.footer_bottom{
    display: block;
    color: #ccc;
    font-size: 12px;
    margin-top: 5px;
}
.footer_bottom a{
	color: #ccc;
}
.footer_copyright{
	float: left;
    display: inline;
    text-align: left;
}
#topcontrol{
	display: none;
	position: fixed; 
	bottom: 120px; 
	right: 10px; 
	opacity: 1; 
	cursor: pointer;
}
#topcontrol img{
	width:54px; 
	height:54px; 
	border:0;
}